
.display{
  border-radius: 25px;
  box-shadow: 0 0 10px 2px gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0px;
}
h2{
  margin: 0px;
}
h4{
  margin: 0px;
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
  }

  #updateItem, #deleteItem {
    cursor: pointer;
    margin: 7px 10px;
  }

#txtDiscount{
    text-align: right;
}

.card {
  /* Add shadows to create the "card" effect */
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.myTable{
  border: 1px solid red;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.myTable td, .myTable th{
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.myTable tr:nth-child(even){background-color: #f2f2f2;}
.myTable tr:hover {background-color: #ddd;}

.myTable th {
  background-color: rgb(235, 222, 222);
  color: navy;
}

.entry {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 20px 10px;
}

.count{
  border: 1px solid navy;
  background-color: navy;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.inputs {
  display: grid;
  width: 350px;
  margin: 20px auto;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px gray;
  padding: 20px 10px;
  font-size: 1.5em;
  background-color: #eaeae2;
}

#addCar, #showInput{
  cursor: pointer;
  margin: 10px auto;
}

#deleteCar, #updateCar{
   cursor: pointer;
}

.addButtonDiv{
  margin-top: 0px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid navy;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 0.8em;
}  

.container1{
  display: flex;
  width: 100%;
}



.footer{
  position: relative;
  bottom: -50px;
}

