/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body{
  margin: 150px;
}

.display{
  
  border-radius: 25px;
  box-shadow: 0 0 10px 2px gray;
  background-color: #F8D5D6;
  padding: 10px;
}

.entry {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 20px 10px;
}

.sno{
  border: 1px solid navy;
  background-color: navy;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
}



.inputs {
  display: none;
  width: 350px;
  margin: 20px auto;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px gray;
  padding: 20px 10px;
  font-size: 1.5em;
  background-color: #FFFDE0;
}

#addCar, #showInput{
  cursor: pointer;
  margin: 10px auto;
}

#deleteCar{
   cursor: pointer;
}

.addButtonDiv{
  margin-top: 0px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid navy;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 0.8em;
} 
