/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body{
  width: 600px;
  margin: 50px auto;
}

.display{
  /* width: 500px; */
  border-radius: 25px;
  box-shadow: 0 0 10px 2px gray;
  /* background-color: #F8D5D6; */
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
}

.myTable{
  border: 1px solid red;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.myTable td, .myTable th{
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.myTable tr:nth-child(even){background-color: #f2f2f2;}
.myTable tr:hover {background-color: #ddd;}

.myTable th {
  background-color: rgb(235, 222, 222);
  color: navy;
}

.entry {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 20px 10px;
}

.count{
  border: 1px solid navy;
  background-color: navy;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.inputs {
  display: none;
  width: 350px;
  margin: 20px auto;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px gray;
  padding: 20px 10px;
  font-size: 1.5em;
  background-color: #eaeae2;
}

#addCar, #showInput{
  cursor: pointer;
  margin: 10px auto;
}

#deleteCar{
   cursor: pointer;
}

.addButtonDiv{
  margin-top: 0px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid navy;
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 0.8em;
} 

.errorMsg {
  width: 300px;
  height: 100px;
  margin: 20px auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: red;
  box-shadow: 0 4px 12px 0 rgba(237, 5, 5, 0.2);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}